<!DOCTYPE html>
<html>
<head>
    <title>SC Followers!</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    <script src="Scripts/Followers/module.js"></script>
    <script src="Scripts/Followers/APICaller.js"></script>
    <!--<script src="Scripts/Followers/followers.js"></script>-->
</head>
<body ng-app="followersApp" ng-controller="followersController">
    <div class="jumbotron text-center">
        <h1>SC Followers!</h1> 
    </div>
    <div>
        <h3>Found followers: {{followerCount}}</h3>
        <br />
        <h5>next_href : {{next_href}}</h5>
        <br />
        <input type="button" value="LOAD NEXT" ng-click="nextPage()" />
    </div>
    <div class="col-md-12 text-center">
        <table class="table table-hover table-condensed text-center">
            <tr>
                <!--<th>Avatar</th>-->
                <th>ID</th>
                <th>User Name</th>
                <th>Perma</th>
                <th>Followers</th>
            </tr>
            <tr ng-repeat="user in followers">
                <!--<td><img src={{user.avatar_url}}></td>-->
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.permalink_url}}</td>
                <td>{{user.followers_count}}</td>
            </tr>
        </table>
    </div>

</body>
</html>
